*{
  font-size: 30pt;
  margin:0px;
  padding:0px;
}
.top{
  font-size:60px;
  width:100%;
  text-align:center;
  position:fixed;
  top:0;
  background-color:rgb(242,168,167);
}
.bg{
  text-align:center;
  width:100%;
  min-height:2080px;
  background-image:linear-gradient(to right,rgb(254,178,188),rgb(203,251,189));
  padding-top:150px;
  
}
.center{
  border:1px solid #000;
  width:800px;
  height:1200px;
  margin:0 auto;
  padding:20px;
  border-radius:50px;
  background-color:#fff;
}

.top>.logo{
  width:120px;
  position:fixed;
  left:20px;
  border-radius:100%;
  top:0;
}
.title{
  font-size:50px;
  margin-bottom:10px;
}
.row{
  margin:15px;
  text-align:left;
  margin-top:50px;
}
#tj{
  font-size:40px;
  width:600px;
  height:100px;
  background-color:White;
  border-radius:50px;
  border:5px solid RGB(250,0,248);
  margin-top:30px;
  margin-bottom:30px;
}
table{
  border: 1px solid;
}
td{
  border: 1px solid red
  ;
}
#content .logo{
  width: 120px;
  margin: 10PX;

}
#content .body{
  text-align: left;
}
#content .body P{
  margin-top: 15PX;
}
#content .head{
  display: flex;
  text-wrap: wrap;
}
#content .store_name{
  margin-left: 150px;
  flex: 1;
}
#content .con{
  border: 1px solid rgb(220, 140, 236);
  border-radius: 20PX;
  width: 800PX;
  background: #fff;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}
#content .con .store_name{
  font-size: 50PX;
  width: 680PX;
}
#research{
  position: fixed;
  right: 10px;
  top: 120px;
  border-radius: 10px;
  background-color: aquamarine;
}
.res{
  color: rgb(255, 141, 161);
}