* {
    font-size: 40pt;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.hxm {
    width: 80%;
    height: 60px;
}

.submit {
    display: block;
    width: 60%;
    border-radius: 5px;
    font-size: 40px;
    margin: 10px auto;
}

.log {
    text-align: left;
    font-size: 25px;
}
.port{
    width: 20%;
}